.ships {
  color: blue;
  border:1px solid red;
}

/*.container {
  border: 1px solid;
}*/

.ships-box {
  padding: 10px;
}

#caption {
  text-align: center;
}

#left {
  width: 15%;
  height: 100%;
  position: fixed;
}

#right {
  width: 85%;
  height: 90%;
  outline: 2px solid;
  position: absolute;
  right: 0;
  margin-top: 50px;
  margin-right: 20px;
}

#left > ul {
  margin-top: 100px;
  margin-right: 20px;
  position: absolute;
  right: 0;
  list-style-type: none;
}

#left > ul > li {
  border: 2px solid;
  margin-top: 2px;
  font-size: 20px;
}

.scroll-row {
  overflow-y: scroll;
  height: 100%;
}

.switch-buttons {
  display: inline;
}

#set-buttons {
  display: inline;
  margin-left: 5px;
}

#passengers {
    display: inline;
}

#number-passengers {
    width: 15%;
}

#date-img {
    width: 5%;
}

.reservation {
    display: inline;
}

.main-buttons {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 55%;
    margin-right: 21%;
}

.main-buttons button:nth-child(1) {
    display: block;
    margin-bottom: 25px;
}

#date {
    width: 50%;
}

/****details******/

.description {
  margin-top: 5%; 
  padding-left: 2%;
  display: inline-block;
  height: 200px;
  margin-right: 5px;
}

.main-table {
  margin-left: 8%;
}

#select {
  position: absolute;
  right: 0;
  bottom: 5%;
  margin-right: 2%;
}

#back {
  position: absolute;
  bottom: 5%;
  left: 2%;
}

#map{
  margin-top: 16px;
}

/* on/off switch button*/
label.input-toggle {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  margin: 0;
}

label.input-toggle > span {
  display: inline-block;
  position: relative;
  background-image: -webkit-linear-gradient(left, #848484 0%, #848484 50%, #7cbcbf 50%, #7cbcbf 100%);
  background-image: linear-gradient(to right, #848484 0%, #848484 50%, #7cbcbf 50%, #7cbcbf 100%);
  background-size: 64px 14px;
  background-position: 0%;
  border-radius: 32px;
  width: 32px;
  height: 14px;
  cursor: pointer;
  -webkit-transition: background-position 0.2s ease-in;
  transition: background-position 0.2s ease-in;
}

label.input-toggle > input:checked + span { background-position: -100%; }

label.input-toggle > span:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #F1F1F1;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease, -webkit-transform 0.3s ease;
}

label.input-toggle > input:checked + span:after {
  left: calc(100% - 18px);
  background-color: #1D8B90;
}

label.input-toggle > span:active:after {
  -webkit-transform: translateY(-50%) scale3d(1.15, 0.85, 1);
  transform: translateY(-50%) scale3d(1.15, 0.85, 1);
}

label.input-toggle > input:disabled + span:active:after {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

label.input-toggle > input:disabled + span { cursor: default; }

label.input-toggle > input:disabled + span { background: #D5D5D5; }

label.input-toggle > input:disabled + span:after { background: #BDBDBD; }

label.input-toggle > input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


  @media (min-width:992px){
    .enablebtn {
     margin-left: 16.7% !important;
   }
}

@media (max-width: 992px) {
#right {
height: 100%;
}
}