  <nav>
        <div id="left">
            <ul class="nav">
                <li class="active"><a href="#!">Select a Ship</a></li>
                <li><a href="#!/details">Ship Details</a></li>
                <li><a href="">Ship tunning</a></li>
            </ul>
        </div>
    </nav>
    <section class="container" id="right">
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 ships-box">
        <a href="#" class="thumbnail">
                <img src="http://www.theforce.net/swtc/Pix/dvd/ep5/supersd3.jpg" alt="...">
              </a>
        <div class="caption">
            <h4>Death Star</h4>
        </div>
    </div>
    <div class="description row">
        <div class="col-md-6" <p>Lorem ipsum dolor sit amet, hinc veniam quidam eu vix, expetenda qualisque reprimique no est. Ut cum verear laboramus appellantur. Et malis nostrud vis, mea vocent principes an, pri cu falli inermis dissentiunt. Viderer disputationi cu cum, ea laudem pertinacia deseruisse sea. Alia commodo perfecto cu has, cu iuvaret dissentiet est. Diam habeo nam ex, commodo blandit pri no, cu wisi dignissim eum. Ex qualisque evertitur per. An euripidis maiestatis qui, nec id phaedrum honestatis. Scaevola ponderum te est. Tale dicunt accusam te pri. In nam errem oportere moderatius, esse sale noluisse pro ea.</p>
        </div>
        <div class="main-table col-md-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Specification</th>
                        <th>Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Leonel</td>
                        <td>Meirinho</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>
        < Back to List</p>
            <button ng-click="selectShip()"  id="select">Select</button>
</div>
