<nav data-ng-init="init()">
    <div id="left">
        <ul class="nav">
            <li><a type="button" ng-click="getShips()">Select a Ship</a></li>
            <li class="active"><a href="">Ship Details</a></li>
            <li class="active"><a href="">Ship tunning</a></li>
        </ul>
    </div>
</nav>
<section class="container" id="right">
    <div class="row scroll-row">
        <div class="col-xs-6 col-md-4 ships-box" ng-repeat="ship in ships">
            <a type="button" class="thumbnail" ng-click="getDetailsById(ship)"><img src="{{ship.image}}" id="main-img" alt="..."></a>
            <h4 id="caption">{{ship.name}}</h4>
        </div>
    </div>
</section>