<nav>
    <div id="left">
        <ul class="nav">
            <li class="active"><a href="#!/">Select a Ship</a></li>
            <li><a href="#!/details">Ship Details</a></li>
            <li><a href="#!/tunning">Ship tunning</a></li>
        </ul>
    </div>
</nav>
<section class="container" id="right">
    <div class="row">
        <div class="col-xs-6 col-md-4 col-md-offset-2 ships-box">
            <a href="#" class="thumbnail">
                <img src="{{ship.image}}" alt="...">
              </a>
           
                <h4 id="caption">{{ship.name}}</h4>
        </div>
        <div class="col-xs-6 col-md-4 col-md-offset-1 ships-box" id="map">
            <a href="#" class="thumbnail">
                <img src="mapa.png" alt="...">
              </a>
        </div>
        <div class="row switch-buttons">
            <div class="col-xs-12 col-md-4 col-md-offset-4 enablebtn">
                <label class="input-toggle">
                    <input type="checkbox" checked>
                    <span></span>
                </label>
                <p id="set-buttons">Enable detection</p>
            </div>
        </div>
        <div class="row switch-buttons">
            <div class="col-xs-12 col-md-4 col-md-offset-2 ships-box">
                <label class="input-toggle">
                    <input type="checkbox" checked>s
                    <span></span>
                </label>
                <p id="set-buttons">Install interstellar turbo boost</p>
            </div>
        </div>
        <div class="row switch-buttons">
            <div class="col-xs-12 col-md-4 col-md-offset-2 ships-box">
                <input id="number-passengers" type="number" value="0" />
                <p id="passengers">Number of passengers </p>
            </div>
        </div>
        <div class="row switch-buttons">
            <div class="col-xs-6 col-md-4 col-md-offset-2 ships-box">
                <input id="date" type="date" min="2017-04-01" max="2017-04-20" required>
                <span class="validity"></span>
                <p class="reservation"><img id="date-img" src="icon.png">Reservation date</p>
            </div>
        </div>
        <div class="main-buttons">
            <button>Reserve</button>
            <button>Build for me</button>
        </div>
    </div>
</section>